@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-universal-sans: var(--font-universal-sans);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: rgb(10, 10, 10);
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-universal-sans), Arial, Helvetica, sans-serif;
}

.text-secondary {
  opacity: 0.5;
}
